<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* popular languages
* commonly used libraries
* Data Science Tools

### Some of the popular languages that Data Scientists use are:

* python
* R
* scala

### Some of the commonly used libraries used by Data Scientists include:

* numpy
* pandas
* matplotlib

In [19]:
import pandas as pd
data = ["Apache Hadoop", "Apache Spark", "Jupyterlab"]
pd.DataFrame(data, columns=["Data Science Tools"])

  Data Science Tools
0      Apache Hadoop
1       Apache Spark
2         Jupyterlab

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
M Rafid A